.menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-left: 2%;
  }

  #aimg{
    background-color: rgb(65, 59, 59);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    }

#w{
    color: whitesmoke;
}


.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    margin-left: 5%;
  }
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
 
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  }
  