body{
    font-family: arial;
   }
   .main{
    margin: 5%;
   }
   
   .card{
        background-color: beige;
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     height: 15em !important;
     object-fit: cover;
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
    .title:hover {
      text-decoration: underline;
    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
     padding-top: 10px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: rgb(135, 162, 235);
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   button:hover{
     background-color: black;
     color: white;
     transition: .5s;
     cursor: pointer;
   }

   .item{ height:200px;}




/*responsive section*/

   @media screen and (max-width: 375px) {
    .card {
       background-color: beige;
       display: contents;
       background-color: beige;     
    }

    .des {
      display: contents;
    }

    #vn {
      display: none;
    }

  .title {
    background-color: beige;
  }
   }

   
   @media screen and (max-width: 414px) {
    .card {
       background-color: beige;
       display: contents;
       background-color: beige; 
       border-radius: 5px;
     
    }

    .des {
      display: contents;
    }

    #vn {
      display: none;
    }

  .title {
    background-color: beige;
  }
   }

   @media screen and (max-width: 874px) {
    .card {
       background-color: beige;
       display:flexbox;
       background-color: beige; 
       border-radius: 5px;    
       height: 20em !important; 
       width: 20em !important;
    }

    .des {
      display: contents;
    }

    #vn {
      display: none;
    }

  .title {
    background-color: beige;
  }
   }
  

   @media screen and (max-width: 1250px) {
    .card {
       background-color: beige;
       display:flexbox;
       background-color: beige; 
       border-radius: 5px;    
       height: 20em !important; 
       width: 20em !important;
    }

    .des {
      display: contents;
    }

    #vn {
      display: none;
    }

  .title {
    background-color: beige;
  }
   }
  
   

   