/*navbar menu section*/

.container { padding-inline: 15px; }

.h1 { font-size: var(--fs-2); }

.container {
  max-width: 550px;
  width: 100%;
  margin-inline: auto;
}


  .hero .shape {
    display: block;
    position: absolute;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-20);
  }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .container { max-width: 1140px; } 
  
  footer {
    display: block;
  }

#navbut {
font-size: 1.3em;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
font-size: 1.2em;
 }
         
   
#navbut:visited {
color: whitesmoke;
background-color: transparent;
text-decoration: none; 
}
         
#navbut:hover{
text-decoration: underline;
}

#navbut:link {
  color: wheat;
  background-color: transparent;
  }
/*end navbar menu section*/